.profileDiv{
    background-color: bisque;
    height: 70px;
    width: 700px;
   
    float: right;
    padding: 40px;
}
.cancel{
    float: right;
    position: relative;
    bottom: 60px;
}